---
- set_fact:
    directory: "/var/lib/ansible_jenkins/"

- name: Make sure the directory exist
  file:
    state: directory
    name: "{{ directory }}"

- name: Add config.xml
  template: 
    dest: "{{ directory }}/{{ builder_hostname }}.xml"
    src: config.xml
  register: config

- name: Get the ssh keys
  ssh_keyscan:
    name: "{{ builder_hostname }}"
    ip: "{{ ip }}"
  register: r


- name: Add the key to jenkins know hosts
  known_hosts:
    name: "{{ builder_hostname }}"
    key: "{{ builder_hostname }},{{ ip }} {{ item }} {{ r['keys'][item] }}  # automatically added by Ansible"
    path: "~jenkins/.ssh/known_hosts"
    state: present
  loop: "{{ r['keys'].keys() }}"

- name: Remove the previous host 
  shell: "jenkins-cli delete-node {{ builder_hostname }}" 
  when: config.changed
  ignore_errors: True

- name: Add the new one
  shell: "cat {{ directory }}/{{ builder_hostname }}.xml | jenkins-cli create-node {{ builder_hostname }}"
  when: config.changed
