---
- package:
    state: present
    name: epel-release
  when: ansible_distribution == 'CentOS'

- ini_file:
    path: /etc/yum.repos.d/CentOS-PowerTools.repo
    section: PowerTools
    option: enabled
    value: "1"
  when: ansible_distribution == 'CentOS' and ansible_distribution_major_version == '8'

- package:
    state: present
    name: "{{ item }}"
  with_items:
  - python3-libselinux
  - python3-policycoreutils
  when: ansible_distribution == 'Fedora'

# remove because we use ntpd
- package:
    state: absent
    name: "{{ item }}"
  with_items:
  - chrony
  when: ansible_distribution == 'Fedora'

- package:
    state: present
    name:
    - lsof
    - screen
    - htop
    - nmap
    - socat

- package:
    state: present
    name:
    - strace
    - lshw
    - rsync
    - logrotate # make sure btmp do not grow too much on recent Fedora
  when: ansible_system == 'Linux'

- package:
    state: present
    name: "{{ item }}"
  with_items:
  - vim-enhanced
  - firewalld
  when: ansible_distribution == 'Fedora' or ansible_distribution == 'CentOS'

- package:
    state: present
    name: "{{ item }}"
  with_items:
  - vim-nox
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
