---
- hosts: http.int.rht.gluster.org
  vars:
    website_domain: planet.gluster.org
  roles:
  - role: scp_http_int
    scp_dest: /var/www/glusterfs-planet
    user: _bits-gluster
    target_name: bits

- hosts: http.int.rht.gluster.org
  vars:
    website_domain: ci-logs.gluster.org
  roles:
  - role: scp_http_int
    target_name: ci-logs
    scp_dest: /var/www/glusterfs-logs

- hosts: http.int.rht.gluster.org
  vars:
    website_domain: bits.int.rht.gluster.org
    redirects:
    - src: '^/$'
      target: '/pub'
      match: True
  roles:
  - role: scp_http_int
    scp_dest: /var/www/bits
    user: _bits-gluster
    target_name: bits

- hosts: http.int.rht.gluster.org
  vars:
    website_domain: bugs.int.rht.gluster.org
    server_aliases:
    - bugs.gluster.org
  roles:
  - role: scp_http_int
    scp_dest: /var/www/glusterfs-bugs
    user: _bits-gluster
    target_name: bits
    redirects:
    - src: '^/$'
      target: '/gluster-bugs.html'
      match: True
