---
- hosts: aws_provisioner
  roles:
  - role: aws_provisioner
  - role: aws_access
  - role: aws_security_group
  - role: aws_ssh_keys
  - role: aws_zones
  - role: aws_logs
  - role: aws_zone_updater

# keep that in separate play
# there is some variable leaking issues that do break
# the role in a weird way
- hosts: aws_provisioner
  roles:
  - role: aws_builder_c8
    hostname: builder-c8-1

- hosts: aws_provisioner
  roles:
  - role: aws_builder_c8
    hostname: builder-c8-2

- hosts: aws_provisioner
  roles:
  - role: aws_builder_c7
    hostname: builder-c7-1

- hosts: aws_provisioner
  roles:
  - role: aws_builder_c7
    hostname: builder-c7-2

- hosts: aws_provisioner
  roles:
  - role: aws_builder_c7
    hostname: builder-c7-3

- hosts: aws_provisioner
  roles:
  - role: aws_builder_f32
    hostname: builder-f32-1

- hosts: aws_provisioner
  roles:
  - role: aws_builder_f32
    hostname: builder-f32-2

- hosts: aws_provisioner
  roles:
  - role: aws_builder_f33
    hostname: builder-f33-1


- hosts: aws_provisioner
  roles:
  - role: aws_builder_fbsd12
    hostname: builder-fbsd12-1
