---
- hosts: all:!not_monitored
  roles:
  - role: nagios_monitored
    nagios_server: nagios.int.rht.gluster.org

- hosts: munin.int.rht.gluster.org
  roles:
  - role: nagios_monitored_nrpe

- hosts: squid_unbound
  roles:
  - role: nagios_monitored_nrpe_process
    processes:
    - {name: unbound}
    - {name: squid}
    - {name: keepalived}

- hosts: monitoring_from_inside:!freebsd:!debian 
  roles:
  - role: nagios_monitored_nrpe_selinux

- hosts: supercolony.rht.gluster.org
  roles:
  - role: nagios_monitored_nrpe_process
    nagios_server: nagios.int.rht.gluster.org
    nagios_ip: 8.43.85.181
    processes:
    - {name: postgrey}

- hosts: postgresql.int.rht.gluster.org
  roles:
  - role: nagios_monitored_nrpe_process
    processes:
    - {name: postgres}

- hosts: postgresql.rht.gluster.org
  roles:
  - role: nagios_monitored_nrpe_process
    nagios_server: nagios.int.rht.gluster.org
    nagios_ip: 8.43.85.181
    processes:
    - {name: postgres}

- hosts: http.int.rht.gluster.org:munin.int.rht.gluster.org
  roles:
  - role: nagios_monitored_nrpe_process
    processes:
    - {name: httpd}

- hosts: jenkins_builders_rht
  roles:
  - role: nagios_monitored_nrpe_connect_ssh
    ssh_targets:
    - name: review.gluster.org
